.notificationList
  margin: 5% auto

.noStuff
  text-align: center
  font-size: 30px
  color: darkgrey
.itemOfNotificationList
  margin-top: 1%
  &:hover
      background-color: lightgray
      cursor: pointer
.black
  color: black
  &:hover
    color: black
.toast
  max-width: 100%