$font-stack:    Helvetica, sans-serif

.pscrollable
        width: 90%
        height: 38vh
        display:flex
        margin-left: auto
        margin-right: auto
        flex: 1
        overflow-y: scroll

.tabs
        background: #179EB7
        margin-top: 15px
  
.text
        color: white
        &:hover 
                color: white