$font-stack:    Helvetica, sans-serif

.pscrollable
        width: 90%
        height: 45vh
        display:flex
        margin-left: auto
        margin-right: auto
        flex: 1
        overflow-y: scroll

    